<div class="container">
    <div class="row">
        <!--ng-controller="admin"-->
        <div class="admincontent">
            <table class="table table-fixed table-bordered ">
                <thead>
                    <tr>
                        <th class="col-md-2">#</th>
                        <th class="col-md-2">Category</th>
                        <th class="col-md-2">Title</th>
                        <th class="col-md-6">content</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="doc in allDocs">
                        <td class="col-md-2 "><input type="checkbox" ng-click="toggleSelection(doc)"></td>
                        <td class="col-md-2 cut-string">{{doc.category}}</td>
                        <td class="col-md-2 cut-string">{{doc.title}}</td>
                        <td class="col-md-6 cut-string-content">{{doc.content}}</td>
                    </tr>
                </tbody>
            </table>
            <!--button add delete update-->
            <section>
                <button type="button" class="btn btn-info" ng-click="add()">Add</button>
                <!--<button type="button" class="btn btn-info" ng-click='add()'>Add</button>-->
                <button type="button" class="btn btn-info" ng-click="update()">Update</button>
                <button type="button" class="btn btn-info" ng-click="delete()">Delete</button>
            </section>
            <!--news add new,-->
            <div class="list-add" >
                <p style="border-bottom: 1px ridge lightgray;" ng-show="up"> Add new</p>
                <!-- <p style="border-bottom: 1px ridge lightgray;" ng-show="up">Update</p> -->
                <form class="form-horizontal" ng-show="up">
                    <div class="form-group row ">
                        <label for="example-text-input" class="col-sm-2  col-form-label">Category</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="workingDoc.category">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="workingDoc.title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Content</label>
                        <div class="col-sm-10">
                            <textarea class="form-control " rows="3" ng-model="workingDoc.content"></textarea>
                        </div>
                    </div>
                    <!--group button Preview summit Cancel Clear-->
                    <section class="btn-grbutton">
                        <button type="button" class="btn btn-success">Preview</button>
                        <button type="button" ng-click="submit()" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-success">Cancel</button>
                        <button type="button" ng-click="clear()" class="btn btn-success">Clear</button>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-danger" ng-show="invalidUpdate">
  <strong>Danger!</strong> please select one option
</div>